// @import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,300,600italic,700,700italic);

body{
	background: url('../img/bg.jpg') fixed;
	font-family: 'Crimson Text', serif;
}

h1,h2,h3,h4,h5{
	margin:0;
	font-family: 'Crimson Text', serif;
}
/*
|-------------------------------------------------------------------------
|	mixin
|-------------------------------------------------------------------------
*/

.shadow-border-left(){
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	max-width: 300px;
	height: 10px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);
}

.shadow-border-right(){
	left: auto;
	right: 10px;
	-webkit-transform: rotate(3deg);
}

/*
|-------------------------------------------------------------------------
|	variables
|-------------------------------------------------------------------------
*/
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

@bg-container: #f1efe1;
@color-title: #4F6A70;
@color-border: #4F6A70;
@color-label: #83A3A7;
@color-btn: #4F6A70;
@bg-btn-select-gallery: #83A3A7;
@bg-intro-box-1: #444D6B;
@bg-intro-box-2: #8DB6AD;
@bg-intro-box-3: #83A3A7;
@color-txt-bio: #83A3A7;
@color-txt-footer: #F1EFE1;
@color-subtitle: #83A3A7;
@color-title: #4F6A70;

/*
|-------------------------------------------------------------------------
|	header
|-------------------------------------------------------------------------
*/

#header{
	position: relative;
	background: @bg-container;
	margin:30px 0 15px 0;
	width: 100%;
	height: 123px;
	font-size: 22px;
	.firm
	{		
		@media @mobile {
			display: block;
			width: 223px;
			margin: 0 auto;
		}
	margin: 15px 0 0 30px;
	float: left;
}

.title{
	padding-top: 45px		;
	text-align: center;
	h1{
		line-height: 0;
		padding:0 0 20px 0;
		font-weight: normal;
		font-size: 22px;
		letter-spacing: 1px;
		color: @color-title;
	}
	.subtitle{

		color: @color-title;
		font-style: italic;
		font-size: 14px;
		line-height: 16px;


	}

}

.photo{
	float: right;
}
&:before, &:after{
	.shadow-border-left;
}

&:after{
	.shadow-border-right;
}

}



/*
|-------------------------------------------------------------------------
|	Intro
|-------------------------------------------------------------------------
*/

#intro{
	position: relative;
	margin-bottom: 15px;
	@media @desktop-xl {
		height: 230px;
	}

	margin-bottom: 15px;
	background: #fff;
	padding: 15px 10px 15px 10px;

	&:before, &:after{
		.shadow-border-left;
	}

	&:after{
		.shadow-border-right;
	}
	p{
		font-size: 18px;
	}

	.intro-box-1, .intro-box-2, .intro-box-3{
		display: block;
		@media @desktop, @desktop-xl {
			height: 200px;
		}
	}
	.intro-box-1{
		background: @bg-intro-box-1;
		color:#fff;
		padding-right: 15px;
		padding-top: 30px;
		p{
			font-style: italic;
			line-height: 45px;
			font-size: 42px;
			text-align: right;
		}
	}

	.intro-box-2{
		background: @bg-intro-box-2;
		color:#fff;
		padding: 30px 40px 20px 40px;
		letter-spacing: 1px;
		p{
			line-height: 20px;
		}
	}

	.intro-box-3{
		background: @bg-intro-box-3;
		color:#fff;
		line-height: 28px;
		letter-spacing: 1px;
		p{
			font-size: 18px;
			letter-spacing: 2px;
			line-height: 20px;
			font-weight: bold;
			// letter-spacing: 0.8px;
		}
		h3{
			font-size: 23px;
			padding: 0 0 0 5px;
			font-style: italic;
			font-weight: normal;
			line-height: 33px;
			// border-top: 2px #fff solid;
		}

		padding: 30px 40px 0 40px;
	}
}
/*
|-------------------------------------------------------------------------
|	Gallery
|-------------------------------------------------------------------------
*/

.container-gallery{
	background: @bg-container;
	padding:17px 0 10px 5px;
	min-height: 410px;
	&:before, &:after{
		.shadow-border-left;
	}

	&:after{
		.shadow-border-right;
	}
}

#galleryContainer{
	width: 100%;
	margin-top: 15px;
}

.crop{
	position: relative;
	height: 140px;
	width: 155px;
	overflow:hidden;
}

.item {
	margin-bottom: 15px;
	padding-left: 15px;
	-webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	-o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	transition: left .4s ease-in-out, top .4s ease-in-out .4s;
	img{
		position: absolute;
		left: -50%;
		top: -50%;
	}
}

/*
|-------------------------------------------------------------------------
|	form
|-------------------------------------------------------------------------
*/
.form-control{
	box-shadow: none;
	border: 1px solid @color-border;
	border-top: none;
	border-radius: 0;
	background: transparent;
	padding: 5px;
	height: 20px;
	margin-top: 12px;
	font-size: 14px;
	&:focus{
		box-shadow: none;
	}
}
.form-horizontal{
	.control-label{
		text-align: left;
	}
}
.control-label{
	color:@color-label;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

/*
|-------------------------------------------------------------------------
|	btns
|-------------------------------------------------------------------------
*/

.btn-group.open .dropdown-toggle{
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background: @bg-btn-select-gallery;
}

.btn-select-gallery{
	padding-left: 15px;
	.btn{
		border: none;
		padding: 3px 15px 0 40px;
		font-size: 22px;
		color:#fff;
		text-align: right;
		min-width: 250px;
		height: 40px;
		background: url('../img/arrow.png') no-repeat 15px 12px @bg-btn-select-gallery;
		&:hover{
			background: url('../img/arrow.png') no-repeat 15px 12px @bg-btn-select-gallery
		}
		@media @mobile, @tablet {
			min-width: 100%;
			padding: 5px 0 5px 0;
			text-align: center;
		}
	}

	@media @mobile, @tablet {
		min-width: 100%;
		padding: 5px 0 5px 0;
		text-align: center;
	}

}

.dropdown-menu{
	background:#f1efe1;
}
/*
|-------------------------------------------------------------------------
|	container-form
|-------------------------------------------------------------------------
*/

.container-form{
	position: relative;
	width: 100%;
	padding: 15px 15px 50px 15px;
	margin-bottom: 15px;
	background: @bg-container;
	@media @mobile, @tablet, @desktop {
		margin-top: 15px;
	}
	form{
		.form-group{
			margin-bottom: 0;
			.control-label{
				font-size: 16px;
			}
		}
	}
	h3{
		color:@color-title;
		line-height: 0;
		margin:15px 0;
		font-size: 20px;
		font-weight: bold;
	}
	.btn-send , {
		margin-top: 10px;
		float: right;
		border: 1px solid @color-border;
		border-top: none;
		border-radius: 0;
		height: 32px;
		width: 100px;
		font-size: 20px;
		font-style: italic;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 0;
		color: @color-btn;
	}

	&:after{
		.shadow-border-left;
		.shadow-border-right;
	}
}

.btn-more{
	float: right;
	border: 1px solid @color-border;
	border-top: none;
	border-radius: 0;
	height: 32px;
	width: 100px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0;
	color: @color-btn;
	background: transparent;
}

.btn-open-contact, .btn-next-piece{
	float: right;
	border: 1px solid @color-border;
	border-top: none;
	border-radius: 0;
	height: 32px;
	width: 130px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0;
	color: @color-btn;
}

/*
|-------------------------------------------------------------------------
|	Bio
|-------------------------------------------------------------------------
*/

.container-bio{
	position: relative;
	font-size: 22px;
	padding: 15px 15px 50px 15px;
	background: @bg-container;
	color:@color-txt-bio;
	font-style: italic;
	h3{
		line-height: 0;
		margin:15px 0;
		font-size: 20px;
		color:@color-title;
		font-weight: bold;
	}
	p{
		margin: 0 0 5px 0;
		padding: 0;
		line-height: 22px;
		font-size: 16px;

	}
	&:after{
		.shadow-border-left;
		.shadow-border-right;
	}
}

/*
|-------------------------------------------------------------------------
|	footer
|-------------------------------------------------------------------------
*/

#footer{
	float: right;
	color:@color-txt-footer;
	font-size: 19px;
	padding-top: 15px;
	.social{
		list-style: none;
		li{
			float: left;
			margin-left: 15px;
		}
	}
}

/*
|-------------------------------------------------------------------------
|	modal
|-------------------------------------------------------------------------
*/

#modal-bio{
	.modal-header{
		img{
			width: 100%;
		}
	}
	.modal-content{
		background: #f1efe1;
	}
	p{
		font-size: 16px;
	}
	h4{
		color:#4f6a70;
	}
	color: #83a3a7;
	ul{
		padding:0;
		margin: 0;
		color: #83a3a7;
		li{
			list-style: none;
			font-size: 16px;
			font-style: italic;
			padding: 5px 0 5px 0;
			border-bottom: 1px solid #4f6a70;
		}
	}
}

/*
|-------------------------------------------------------------------------
|	modalGallery
|-------------------------------------------------------------------------
*/
.piece-title{
	padding: 10px 0 0 0;
	color: @color-title;

}
.piece-year{
	font-style: italic;
	font-size: 22px;
	color:@color-subtitle;
	padding: 5px 0 10px 0;
}
.piece-status{
	font-size: 20px;
	color:@color-subtitle;
}

#modalGallery{
	.modal-body{

		.piece-title{
			margin: 20px 0 0 0;
			color: @color-title;

		}
		.piece-year{
			font-style: italic;
			font-size: 22px;
			color:@color-subtitle;
		}
		.piece-status{
			font-size: 20px;
			color:@color-subtitle;
		}


		.btn-close{
			position: absolute;
			top:20px;
			right: 20px;
		}

		.modal-btns{
			position: absolute;
			bottom: 20px;
			right: 20px;
		}


	}

}

/*
|-------------------------------------------------------------------------
|	NailThumb
|-------------------------------------------------------------------------
*/

.thumbnail (@width: 110px, @height: 110px, @margin: 0px) {
	width: @width;
	height: @height;
	margin: @margin;
	padding: 0px;
	overflow:hidden;
	position:relative;
	text-align: left;

	img.nailthumb-image {
		margin: 0px;
		padding: 0px;
		max-width: none;
		text-align: left;
		float: left;
	}
	span.nailthumb-title {
		background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
		bottom:0;
		color:White;
		display:block;
		font-size:9px;
		height:20px;
		left:0;
		margin-top: 2px;
		line-height:20px;
		position:relative;
		text-align:center;
		width:100%;
		overflow: hidden;
		float: left;
		.nailthumb-title-scroller {
			padding-left: 2px;
		}
	}
	}.thumbnail (@width: 110px, @height: 110px, @margin: 0px) {
		width: @width;
		height: @height;
		margin: @margin;
		padding: 0px;
		overflow:hidden;
		position:relative;
		text-align: left;

		img.nailthumb-image {
			margin: 0px;
			padding: 0px;
			max-width: none;
			text-align: left;
			float: left;
		}
		span.nailthumb-title {
			background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
			bottom:0;
			color:White;
			display:block;
			font-size:9px;
			height:20px;
			left:0;
			margin-top: 2px;
			line-height:20px;
			position:relative;
			text-align:center;
			width:100%;
			overflow: hidden;
			float: left;
			.nailthumb-title-scroller {
				padding-left: 2px;
			}
		}
	}

	.square-thumb {
		width: 150px;
		height: 150px;
	}


	.words{
		display: block;
		width: 100%;
		margin: 15px 0 10px 15px;
		font-size: 14px;
		color:#4f6a70;
		text-align: center;
	}