body {
  background: url('../img/bg.jpg') fixed;
  background-size: cover;
  font-family: 'Crimson Text', serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Crimson Text', serif;
}
/*
|-------------------------------------------------------------------------
|	mixin
|-------------------------------------------------------------------------
*/
/*
|-------------------------------------------------------------------------
|	variables
|-------------------------------------------------------------------------
*/
/*
|-------------------------------------------------------------------------
|	header
|-------------------------------------------------------------------------
*/
#header {
  position: relative;
  background: #f1efe1;
  margin: 30px 0 15px 0;
  width: 100%;
  height: 123px;
  font-size: 22px;
}
#header .firm {
  margin: 15px 0 0 30px;
  float: left;
}
@media only screen and (max-width: 529px) {
  #header .firm {
    display: block;
    width: 223px;
    margin: 0 auto;
  }
}
#header .title {
  padding-top: 45px		;
  text-align: center;
}
#header .title h1 {
  line-height: 0;
  padding: 0 0 20px 0;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 1px;
  color: #4f6a70;
}
#header .title .subtitle {
  color: #4f6a70;
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
}
#header .photo {
  float: right;
}
#header:before,
#header:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
}
#header:after {
  left: auto;
  right: 10px;
  -webkit-transform: rotate(3deg);
}
/*
|-------------------------------------------------------------------------
|	Intro
|-------------------------------------------------------------------------
*/
#intro {
  position: relative;
  margin-bottom: 15px;
  background: #fff;
  padding: 15px 10px 15px 10px;
}
@media only screen and (min-width: 1129px) {
  #intro {
    height: 230px;
  }
}
#intro:before,
#intro:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
}
#intro:after {
  left: auto;
  right: 10px;
  -webkit-transform: rotate(3deg);
}
#intro p {
  font-size: 18px;
}
#intro .intro-box-1,
#intro .intro-box-2,
#intro .intro-box-3 {
  display: block;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  #intro .intro-box-1,
  #intro .intro-box-2,
  #intro .intro-box-3 {
    height: 200px;
  }
}
#intro .intro-box-1 {
  background: #444d6b;
  color: #fff;
  padding-right: 15px;
  padding-top: 30px;
}
#intro .intro-box-1 p {
  font-style: italic;
  line-height: 45px;
  font-size: 42px;
  text-align: right;
}
#intro .intro-box-2 {
  background: #8db6ad;
  color: #fff;
  padding: 30px 40px 20px 40px;
  letter-spacing: 1px;
}
#intro .intro-box-2 p {
  line-height: 20px;
}
#intro .intro-box-3 {
  background: #83a3a7;
  color: #fff;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 30px 40px 0 40px;
}
#intro .intro-box-3 p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: bold;
}
#intro .intro-box-3 h3 {
  font-size: 23px;
  padding: 0 0 0 5px;
  font-style: italic;
  font-weight: normal;
  line-height: 33px;
}
/*
|-------------------------------------------------------------------------
|	Gallery
|-------------------------------------------------------------------------
*/
.container-gallery {
  background: #f1efe1;
  padding: 17px 0 10px 5px;
  min-height: 410px;
}
.container-gallery:before,
.container-gallery:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
}
.container-gallery:after {
  left: auto;
  right: 10px;
  -webkit-transform: rotate(3deg);
}
#galleryContainer {
  width: 100%;
  margin-top: 15px;
}
.crop {
  position: relative;
  height: 140px;
  width: 155px;
  overflow: hidden;
}
.item {
  margin-bottom: 15px;
  padding-left: 15px;
  -webkit-transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s;
  -moz-transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s;
  -ms-transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s;
  -o-transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s;
  transition: left 0.4s ease-in-out, top 0.4s ease-in-out 0.4s;
}
.item img {
  position: absolute;
  left: -50%;
  top: -50%;
}
/*
|-------------------------------------------------------------------------
|	form
|-------------------------------------------------------------------------
*/
.form-control {
  box-shadow: none;
  border: 1px solid #4f6a70;
  border-top: none;
  border-radius: 0;
  background: transparent;
  padding: 5px;
  height: 20px;
  margin-top: 12px;
  font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
}
.form-horizontal .control-label {
  text-align: left;
}
.control-label {
  color: #83a3a7;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}
/*
|-------------------------------------------------------------------------
|	btns
|-------------------------------------------------------------------------
*/
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background: #83a3a7;
}
.btn-select-gallery {
  padding-left: 15px;
}
.btn-select-gallery .btn {
  border: none;
  padding: 3px 15px 0 40px;
  font-size: 22px;
  color: #fff;
  text-align: right;
  min-width: 250px;
  height: 40px;
  background: url('../img/arrow.png') no-repeat 15px 12px #83a3a7;
}
.btn-select-gallery .btn:hover {
  background: url('../img/arrow.png') no-repeat 15px 12px #83a3a7;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 949px) {
  .btn-select-gallery .btn {
    min-width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 949px) {
  .btn-select-gallery {
    min-width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
  }
}
.dropdown-menu {
  background: #f1efe1;
}
/*
|-------------------------------------------------------------------------
|	container-form
|-------------------------------------------------------------------------
*/
.container-form {
  position: relative;
  width: 100%;
  padding: 15px 15px 50px 15px;
  margin-bottom: 15px;
  background: #f1efe1;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 949px), only screen and (min-width: 950px) and (max-width: 1128px) {
  .container-form {
    margin-top: 15px;
  }
}
.container-form form .form-group {
  margin-bottom: 0;
}
.container-form form .form-group .control-label {
  font-size: 16px;
}
.container-form h3 {
  color: #4f6a70;
  line-height: 0;
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}
.container-form .btn-send {
  margin-top: 10px;
  float: right;
  border: 1px solid #4f6a70;
  border-top: none;
  border-radius: 0;
  height: 32px;
  width: 100px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0;
  color: #4f6a70;
}
.container-form:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  left: auto;
  right: 10px;
  -webkit-transform: rotate(3deg);
}
.btn-more {
  float: right;
  border: 1px solid #4f6a70;
  border-top: none;
  border-radius: 0;
  height: 32px;
  width: 100px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0;
  color: #4f6a70;
  background: transparent;
}
.btn-open-contact,
.btn-next-piece {
  float: right;
  border: 1px solid #4f6a70;
  border-top: none;
  border-radius: 0;
  height: 32px;
  width: 130px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0;
  color: #4f6a70;
}
/*
|-------------------------------------------------------------------------
|	Bio
|-------------------------------------------------------------------------
*/
.container-bio {
  position: relative;
  font-size: 22px;
  padding: 15px 15px 50px 15px;
  background: #f1efe1;
  color: #83a3a7;
  font-style: italic;
}
.container-bio h3 {
  line-height: 0;
  margin: 15px 0;
  font-size: 20px;
  color: #4f6a70;
  font-weight: bold;
}
.container-bio p {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 22px;
  font-size: 16px;
}
.container-bio:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 10px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  left: auto;
  right: 10px;
  -webkit-transform: rotate(3deg);
}
/*
|-------------------------------------------------------------------------
|	footer
|-------------------------------------------------------------------------
*/
#footer {
  float: right;
  color: #f1efe1;
  font-size: 19px;
  padding-top: 15px;
}
#footer .social {
  list-style: none;
}
#footer .social li {
  float: left;
  margin-left: 15px;
}
/*
|-------------------------------------------------------------------------
|	modal
|-------------------------------------------------------------------------
*/
#modal-bio {
  color: #83a3a7;
}
#modal-bio .modal-header img {
  width: 100%;
}
#modal-bio .modal-content {
  background: #f1efe1;
}
#modal-bio p {
  font-size: 16px;
}
#modal-bio h4 {
  color: #4f6a70;
}
#modal-bio ul {
  padding: 0;
  margin: 0;
  color: #83a3a7;
}
#modal-bio ul li {
  list-style: none;
  font-size: 16px;
  font-style: italic;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #4f6a70;
}
/*
|-------------------------------------------------------------------------
|	modalGallery
|-------------------------------------------------------------------------
*/
.piece-title {
  padding: 10px 0 0 0;
  color: #4f6a70;
}
.piece-year {
  font-style: italic;
  font-size: 22px;
  color: #83a3a7;
  padding: 5px 0 10px 0;
}
.piece-status {
  font-size: 20px;
  color: #83a3a7;
}
#modalGallery .modal-body .piece-title {
  margin: 20px 0 0 0;
  color: #4f6a70;
}
#modalGallery .modal-body .piece-year {
  font-style: italic;
  font-size: 22px;
  color: #83a3a7;
}
#modalGallery .modal-body .piece-status {
  font-size: 20px;
  color: #83a3a7;
}
#modalGallery .modal-body .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
#modalGallery .modal-body .modal-btns {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/*
|-------------------------------------------------------------------------
|	NailThumb
|-------------------------------------------------------------------------
*/
.square-thumb {
  width: 150px;
  height: 150px;
}
.words {
  display: block;
  width: 100%;
  margin: 15px 0 10px 15px;
  font-size: 14px;
  color: #4f6a70;
  text-align: center;
}
